<div class="user-details">
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h1><a href="https://bit.ly/Contact_us_WQ"><button>Contact Us</button></a></h1>
    <h3><p>We are a community of wellness seekers, learners, enthusiasts and coaches. To work upon your health/know more about our community, fill up the wellness query form. See you soon !</p></h3>
  </div>
  <div class="tech">
    <h1><a href="https://track.thewellnessatlas.com/wellnessprofile.html?iboid=LEW2AEOL"><button>Know Health</button></a></h1>      
    <h3><p>Health is Priceless!.But it seems, we forgotten the age old guidelines to lead a healthy life. Do you think, you are healthy? Lets check this out by completing wellness profile.</p></h3>
  </div>
  <div class="tech">
    <h1><a href="http://bit.ly/WQChallenge"><button>Join Community</button></a></h1>
    <h3><p>Together it is easier. Associate yourself with like minded health concious people who are health concious or wanted to be in that zone. Join whatsapp micro-community.</p></h3>
  </div>
</div>
