<style>
a:link, a:visited {
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}
</style>
<div class="user-details">
  <h1>About </h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2><a href="https://bit.ly/Contact_us_WQ" target="_blank">>Contact Us</a></h2>
    <p>We are a community of wellness seekers, learners, enthusiasts and coaches.To work upon your health/know more about our community, fill up the wellness query form. See you soon !</p>
  </div>
  <div class="tech">
    <h2><a href="https://track.thewellnessatlas.com/wellnessprofile.html?iboid=LEW2AEOL">Know Your Health</a></h2>      
    <p>Health is Priceless!.But it seems, we forgotten the age old guidelines to lead a healthy life. Do you think, you are healthy? Lets check this out by completing wellness profile.</p>
  </div>
  <div class="tech">
    <h2><a href="http://bit.ly/WQChallenge">Join Micro-Community</a></h2>
    <p>Together it is easier. Associate yourself with like minded health concious people who are health concious or wanted to be in that zone. Join whatsapp micro-community.</p>
  </div>
</div>
